@charset "UTF-8";
.path-mod-readaloud #page.drawers .activity-header {
  display: none;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header .mod_readaloud-activity-header-main .mod_readaloud-activity-description {
  color: #727276;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header .mod_readaloud-activity-header-main .mod_readaloud-activity-picture img {
  aspect-ratio: 1/1;
  height: 122px;
  width: 122px;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header .mod_readaloud-activity-info {
  border: 1px solid #F9F9FA;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header-inpage .mod_readaloud-activity-header-main .backarrow svg {
  height: 1rem;
  width: 1rem;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header-inpage .mod_readaloud-activity-header-main .mod_readaloud-activity-picture img {
  aspect-ratio: 1/1;
  height: 34px;
  width: 34px;
  border-radius: 50%;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header-inpage .mod_readaloud-activity-header-main .activity-name {
  font-weight: 700;
}
.path-mod-readaloud #page.drawers .mod_readaloud-activity-header-main {
  background: rgba(81, 61, 235, 0.06);
}

body.path-mod-readaloud #page-content .btn {
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.5rem;
  line-height: normal;
}
body.path-mod-readaloud #page-content button.control {
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  flex-shrink: 0;
  height: 46px;
  padding: 0.625rem;
  width: 46px;
}
body.path-mod-readaloud #page-content button.control.control--playbutton {
  background-color: #00AE34;
  border-color: #00AE34;
  color: #FFFFFF;
  margin: 0.25rem;
  box-shadow: 0 0 0 6px rgba(0, 174, 52, 0.15);
}
body.path-mod-readaloud #page-content button.control.control--playbutton .icon-play {
  display: inline-block;
}
body.path-mod-readaloud #page-content button.control.control--playbutton .icon-stop {
  display: none;
}
body.path-mod-readaloud #page-content button.control.control--playbutton[aria-pressed=true] {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
  margin: 0.25rem;
  box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.15);
}
body.path-mod-readaloud #page-content button.control.control--playbutton[aria-pressed=true] .icon-play {
  display: none;
}
body.path-mod-readaloud #page-content button.control.control--playbutton[aria-pressed=true] .icon-stop {
  display: inline-block;
}
body.path-mod-readaloud #page-content button.control.control--recordbutton {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
  box-shadow: 0 0 0 6px rgba(81, 61, 235, 0.15);
}
body.path-mod-readaloud #page-content button.control.control--recordbutton .icon-mic {
  display: inline-block;
}
body.path-mod-readaloud #page-content button.control.control--recordbutton .icon-stop {
  display: none;
}
body.path-mod-readaloud #page-content button.control.control--recordbutton[aria-pressed=true] {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
  margin: 0.25rem;
  box-shadow: 0 0 0 6px rgba(255, 0, 0, 0.15);
}
body.path-mod-readaloud #page-content button.control.control--recordbutton[aria-pressed=true] .icon-mic {
  display: none;
}
body.path-mod-readaloud #page-content button.control.control--recordbutton[aria-pressed=true] .icon-stop {
  display: inline-block;
}

.mod_readaloud_finalreport .mod_readaloud_attemptsummary .statbox .fs-1 {
  font-size: 2.125rem !important;
}
.mod_readaloud_finalreport .mod_readaloud_attemptsummary .statbox .stat-label {
  color: #727276;
}
.mod_readaloud_finalreport .mod_readaloud_attemptsummary .statbox .statbox-icon img.icon {
  height: 32px;
  max-height: 32px;
  width: auto;
}

/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptsg8zYS_SKggPNyCg4QIFqPfE.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptsg8zYS_SKggPNyCg4QoFqPfE.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptsg8zYS_SKggPNyCg4TYFq.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v36/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav::before {
  border-top: 2px dotted #E3E3E4;
  content: "";
  left: 20px;
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 0;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li .nav-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li .nav-link .nav-text-group {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li .nav-link .nav-text-group .step-icon {
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #E3E3E4;
  border-radius: 0.5rem;
  display: flex;
  gap: 8px;
  height: 36px;
  justify-content: center;
  margin-right: 0 !important;
  padding: 8px 10px;
  position: relative;
  width: 40px;
  z-index: 1;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li .nav-link .nav-text-group .nav-label {
  font-weight: 600;
  margin-top: 4px;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li .nav-link .nav-status-icon {
  display: none;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.current {
  border-color: #513DEB;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.current .step-icon svg,
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.current .nav-label {
  color: #513DEB;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.mode-chooser.no-click a {
  cursor: not-allowed;
  font-weight: normal;
  pointer-events: none;
}
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.mode-chooser.no-click a .step-icon svg,
#mod_readaloud_footernav_cont #mod_readaloud_menubuttons_cont ol.main-nav > li.mode-chooser.no-click a .nav-label {
  color: #8F8E94;
}

#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li {
  border: 1px solid #E3E3E4;
}
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li .nav-text-group .nav-label {
  font-weight: 600;
}
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.current {
  border-color: #513DEB;
}
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.current .step-icon svg,
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.current .nav-label {
  color: #513DEB;
}
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.mode-chooser.no-click a {
  cursor: not-allowed;
  font-weight: normal;
  pointer-events: none;
}
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.mode-chooser.no-click a .step-icon svg,
#mod_readaloud_home_cont #mod_readaloud_menubuttons_cont .main-nav li.mode-chooser.no-click a .nav-label {
  color: #8F8E94;
}

#mod_readaloud_listenquitmodal .modal-dialog {
  max-width: 325px;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-body h5 {
  font-weight: 600;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-body p {
  color: #727276;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-body .icon {
  color: #513DEB;
  height: 24px;
  width: 24px;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-footer button {
  flex: 1 1 0%;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-footer button.btn-primary {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-footer button.btn-secondary {
  background-color: rgba(81, 61, 235, 0.06);
  border-color: rgba(81, 61, 235, 0.06);
  color: #513DEB;
  margin: 0.25rem;
}
#mod_readaloud_listenquitmodal .modal-dialog .modal-footer button.btn-link {
  color: #513DEB;
}

.mod_readaloud_passage_cont {
  border: 1px solid #E3E3E4;
  border-radius: 0.5rem;
  color: #1D1C1E;
  font-size: 1.125rem;
  line-height: 210%;
  padding: 1rem;
}
.mod_readaloud_passage_cont .mod_readaloud_modelaudio_activesentence {
  background-color: rgba(255, 218, 32, 0.3);
}
.mod_readaloud_passage_cont p:last-child {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .mod_readaloud_passage_cont {
    padding: 2rem;
  }
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_phraseplayer {
  border-radius: 0.5rem;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_phraseplayer #mod_readaloud_practice_play, #mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_phraseplayer #mod_readaloud_practice_playself {
  background-color: #FFFFFF;
  border-color: #00AE34;
  color: #00AE34;
  margin: 0.25rem;
  border-radius: 50%;
  height: 24px;
  padding: 0;
  width: 24px;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_phraseplayer #mod_readaloud_practice_play .icon-play, #mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_phraseplayer #mod_readaloud_practice_playself .icon-play {
  flex-shrink: 0;
  height: 13.7px;
  width: 13.7px;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_navigation button {
  color: #8F8E94;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner #mod_readaloud_practice_controls {
  align-items: center;
  display: flex;
  gap: 10px;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner .mod_readaloud_ttrec_waveButtonContainer {
  margin: auto;
  position: relative;
  width: 181px;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner .mod_readaloud_ttrec_waveButtonContainer canvas.mod_readaloud_ttrec_waveForm {
  background-color: transparent;
  height: 46px;
  width: 100%;
}
#mod_readaloud_practice_cont_wrap #mod_readaloud_practice_inner .mod_readaloud_ttrec_waveButtonContainer button.mod_readaloud_ttrec_waveButton {
  font-size: 24px;
  position: absolute;
}
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .ra_practice_results_text {
  font-size: 1.32rem;
}
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .mod_readaloud_practice_target_word {
  margin: 0 4px;
  padding: 0 2px;
  position: relative;
}
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .mod_readaloud_practice_target_word_correct::after,
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .mod_readaloud_practice_target_word_incorrect::after {
  font-size: 0.8em;
  left: 50%;
  position: absolute;
  top: -1.2em;
  transform: translateX(-50%);
}
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .mod_readaloud_practice_target_word_correct::after {
  content: "✔";
  color: #00AE34;
}
#mod_readaloud_practice_cont_wrap .ra_practice_results_container .mod_readaloud_practice_target_word_incorrect::after {
  content: "✘";
  color: #FF0000;
}

#practice-resultbox-incorrect .practice-resultbox-inner,
#practice-resultbox-almost .practice-resultbox-inner,
#practice-resultbox-welldone .practice-resultbox-inner,
#practice-resultbox-complete .practice-resultbox-inner {
  height: 574px;
  max-width: 350px;
  width: 100%;
}
#practice-resultbox-incorrect .practice-resultbox-inner h5,
#practice-resultbox-almost .practice-resultbox-inner h5,
#practice-resultbox-welldone .practice-resultbox-inner h5,
#practice-resultbox-complete .practice-resultbox-inner h5 {
  font-weight: 600;
}
#practice-resultbox-incorrect .practice-resultbox-inner p,
#practice-resultbox-almost .practice-resultbox-inner p,
#practice-resultbox-welldone .practice-resultbox-inner p,
#practice-resultbox-complete .practice-resultbox-inner p {
  color: #727276;
}
#practice-resultbox-incorrect .practice-resultbox-inner .ra_practice_results_feedback .ra_practice_stars,
#practice-resultbox-almost .practice-resultbox-inner .ra_practice_results_feedback .ra_practice_stars,
#practice-resultbox-welldone .practice-resultbox-inner .ra_practice_results_feedback .ra_practice_stars,
#practice-resultbox-complete .practice-resultbox-inner .ra_practice_results_feedback .ra_practice_stars {
  font-size: 1.5rem;
  line-height: 1;
}
#practice-resultbox-incorrect .practice-resultbox-inner button,
#practice-resultbox-almost .practice-resultbox-inner button,
#practice-resultbox-welldone .practice-resultbox-inner button,
#practice-resultbox-complete .practice-resultbox-inner button {
  flex: 1 1 0%;
}

#practice-resultbox-incorrect {
  background: #F9F9FA;
}
#practice-resultbox-incorrect button.btn-primary {
  background-color: #727276;
  border-color: #727276;
  color: #FFFFFF;
  margin: 0.25rem;
}
#practice-resultbox-incorrect button.btn-secondary {
  background-color: #E3E3E4;
  border-color: #E3E3E4;
  color: #727276;
  margin: 0.25rem;
}

#practice-resultbox-almost {
  background: rgba(255, 0, 0, 0.06);
}
#practice-resultbox-almost h5 {
  color: #FF0000;
}
#practice-resultbox-almost button.btn-primary {
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFFFFF;
  margin: 0.25rem;
}
#practice-resultbox-almost button.btn-secondary {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #FF0000;
  margin: 0.25rem;
}

#practice-resultbox-welldone {
  background: rgba(0, 174, 52, 0.06);
}
#practice-resultbox-welldone h5 {
  color: #00AE34;
}
#practice-resultbox-welldone button.btn-primary {
  background-color: #00AE34;
  border-color: #00AE34;
  color: #FFFFFF;
  margin: 0.25rem;
}

#practice-resultbox-complete {
  background: rgba(81, 61, 235, 0.06);
}
#practice-resultbox-complete h5 {
  color: #513DEB;
}
#practice-resultbox-complete button.btn-primary {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
}
#practice-resultbox-complete button.btn-secondary {
  background-color: rgba(81, 61, 235, 0.06);
  border-color: rgba(81, 61, 235, 0.06);
  color: #513DEB;
  margin: 0.25rem;
}

.progress,
.progress-stacked {
  height: 10px;
  background-color: #E3E3E4;
  border-radius: 1rem;
}
.progress .progress-bar,
.progress-stacked .progress-bar {
  background-color: #FFDA20;
}

#mod_readaloud_quiz_cont_wrap {
  display: block !important;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mcplayrow .readaloud_mc_response .readaloud_sentence {
  color: #513DEB;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mcplayrow .readaloud_mc_response .readaloud_mc_resultbox .fa.fa-lg.fa-check.readaloud_mc_right {
  color: #00AE34;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mcplayrow .readaloud_mc_response .readaloud_mc_resultbox .fa.fa-lg.fa.fa-times.readaloud_mc_wrong {
  color: #FF0000;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mcplayrow .col-md-12:has(.readaloud_mc_selected) {
  background: rgba(81, 61, 235, 0.06);
  border-color: transparent !important;
  font-weight: bold;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mcplayrow .readaloud_mc_confirmchoice {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
  min-width: 110px;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .readaloud_nextbutton {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
  min-width: 110px;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_items_cont .readaloud_questioncontainer .mod_readaloud-activity-progress-bar span {
  display: none;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quizviewreport_container {
  background: #513DEB;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quizviewreport_container #quizviewreport_title_container {
  color: #FFFFFF;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quizviewreport_container #quizviewreport_title_container h5 {
  color: inherit;
  font-weight: 600;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quizviewreport_container button.mod_readaloud_quizviewreport_button {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #513DEB;
  margin: 0.25rem;
  min-width: 110px;
  white-space: nowrap;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_finished .mod_readaloud_reattemptquiz_button {
  background-color: #513DEB;
  border-color: #513DEB;
  color: #FFFFFF;
  margin: 0.25rem;
  min-width: 110px;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_finished #mod_readaloud_quizresult_div .qa-row.border-bottom {
  border-bottom: none !important;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_finished #mod_readaloud_quizresult_div .qa-row .qa-col {
  flex: 1 1 0;
  min-width: 0;
}
#mod_readaloud_quiz_cont_wrap #mod_readaloud_quiz_finished #mod_readaloud_quizresult_div .qa-row .qa-col--icon {
  flex: 0 0 24px;
  width: 24px;
}

body.path-mod-readaloud #page-content {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Helvetica, Arial, Lucida, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
body.path-mod-readaloud #page-content h1,
body.path-mod-readaloud #page-content .h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}
body.path-mod-readaloud #page-content h2,
body.path-mod-readaloud #page-content .h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}
body.path-mod-readaloud #page-content h3,
body.path-mod-readaloud #page-content .h3,
body.path-mod-readaloud #page-content h4,
body.path-mod-readaloud #page-content .h4,
body.path-mod-readaloud #page-content h5,
body.path-mod-readaloud #page-content .h5,
body.path-mod-readaloud #page-content h6,
body.path-mod-readaloud #page-content .h6 {
  font-weight: 400;
  line-height: normal;
}
body.path-mod-readaloud #page-content .font-sm {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;
}
/*# sourceMappingURL=styles.css.map */
