
.mod_readaloud_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

.mod_readaloud_actionbuttons {
	display: flex;
	float: right;
}

.mod_readaloud_recording_cont {
	display: block;
}

.mod_readaloud_recorder_cont {
	float: left;
}


.mod_readaloud_start_button_cont{
	clear: both;
	padding: 5px;
}
.mod_readaloud_stop_button_cont{
	clear: both;
	padding: 5px;
}
.mod_readaloud_record_button_cont{
	clear: both;
	padding: 5px;
}

.mod_readaloud_recorder_instr {
	float: left;
}

.mod_readaloud_passage_cont {
	display: none;
}