
.mod_readaloud_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
}

.mod_readaloud_actionbuttons {
	display: flex;
	float: right;
}

.mod_readaloud_recording_cont {
	display: block;
	margin: auto;
	text-align: center;
	width: 720px;
}

.mod_readaloud_recorder_cont {
	float: left;
}
.mod_readaloud_recorder_instr_right,
.mod_readaloud_recorder_instr_left {
	float: left;
	width: 240px;
	height: 100px; 
}
.mod_readaloud_dummyrecorder {
	float: left;
}
.mod_readaloud_dummy_recorder_hidden {
	display: none;
}
.mod_readaloud_dummy_recorder_recording {
	display: block;
	float: left;
	width: 239px;
	height: 100px;
	background-image: url("/moodle/cr/mod/readaloud/pix/microphone.png");
	background-size: 90px 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: red;
}
.mod_readaloud_dummy_recorder_stopped {
	display: block;
	width: 239px;
	height: 100px;
	float: left;
	background-image: url("/moodle/cr/mod/readaloud/pix/microphone.png");
	background-size: 90px 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: grey;
}
.mod_readaloud_getpermissionmode{
	background-color: red;
	height: 170px;
}

.mod_readaloud_start_button_cont,
.mod_readaloud_record_button_cont,
.mod_readaloud_stop_button_cont{
	clear: both;
	padding: 5px;
	text-align: center;
	width: 100%;
}
.mod_readaloud_stop_button,
.mod_readaloud_start_button,
.mod_readaloud_record_button
{
	margin: auto;
	width: 200px;
}

.mod_readaloud_passage_cont {
	display: none;
}