.mod_readaloud_center {
  text-align: center;
}

.mod_readaloud_center>div,
.mod_readaloud_center>table
/* insert any other block-level elements here */

  {
  margin-left: auto;
  margin-right: auto;
}

.mod_readaloud_listbuttons input[type="submit"] {
  width: 400px;
}

.mod_readaloud_actionbuttons {
  display: flex;
  float: right;
}

/* debugging */

.mod_readaloud_debug .mod_readaloud_grading_passageword::after,
.mod_readaloud_debug_transcriptword::after {
  content: attr(data-wordnumber);
  border: 1px solid blue;
  font-size: 10px;
  border-radius: 5px;
  padding: 1px;
}

/* debugging */

span.mod_readaloud_debugsequence {
  border: 1px solid black;
  margin: 1px;
  display: inline-block;
}

.mod_readaloud_recording_cont {
  margin: auto;
  text-align: center;
  width: 100%;
  background-image: url([[pix:mod_readaloud|loader]]);
  background-repeat: no-repeat;
  background-position: center center;
}

.mod_readaloud_recorder_instr_right,
.mod_readaloud_recorder_instr_left {
  float: left;
  width: 240px;
  height: 100px;
}

.mod_readaloud_dummyrecorder {
  float: left;
}

.mod_readaloud_dummy_recorder_hidden {
  display: none;
}

.mod_readaloud_dummy_recorder_recording {
  display: block;
  float: left;
  width: 239px;
  height: 100px;
  background-size: 90px 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
}

.mod_readaloud_dummy_recorder_stopped {
  display: block;
  width: 239px;
  height: 100px;
  float: left;
  background-size: 90px 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
}

.mod_readaloud_getpermissionmode {
  background-color: red;
  height: 170px;
}

.mod_readaloud_start_button_cont,
.mod_readaloud_record_button_cont,
.mod_readaloud_stop_button_cont {
  clear: both;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.mod_readaloud_stop_button,
.mod_readaloud_start_button,
.mod_readaloud_record_button {
  margin: auto;
  width: 200px;
}

.mod_readaloud_voicecanvas {
  width: 239px;
  height: 100px;
  z-index: 8;
}

.mod_readaloud_grading_passagecont {
  /* */
}

.mod_readaloud_passage_cont {
  line-height: 2em;
  font-size: 1.5em;
  border-style: double;
  padding: 3px;
  border-color: gold;
  margin-top: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mod_readaloud_grading_action_cont {
  border-style: double;
  padding: 3px;
  border-color: gold;
  margin-top: 15px;
  align-items: center;
}

.mod_readaloud_grading_badword {
  color: red;
  background-color: #ffcaca;
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid red;
  position: relative;
}

.mod_readaloud_grading_endspace {
  color: blue;
  background-color: #cacaff;
  padding: 5px;
  border-radius: 5px 5px 5px;
  border: 1px solid blue;
  position: relative;
}

.mod_readaloud_grading_passagespace,
.mod_readaloud_grading_correctionsspace{
  padding: 2px;
}

div.mod_readaloud_smallreport_stars {
  padding: 5px;
}

div.mod_readaloud_postattempt .mod_readaloud_grading_unreadword {
  text-decoration: none;
  background-color: lightgrey;
}

div.mod_readaloud_postattempt .mod_readaloud_grading_unreadspace {
  background-color: lightgrey;
  padding: 0px 2px;
}

.mod_readaloud_grading_unreadword {
  font-style: italic;
  text-decoration: line-through;
}

.mod_readaloud_passage_finished {
  background-color: #CCCCCC;
  padding: 2px;
}

.mod_readaloud_instructions_cont {
  display: block;
}

.mod_readaloud_menuinstructions_const {
  display: none;
}

.mod_readaloud_activityinstructions_const {
  display: none;
}

.mod_readaloud_recording_cont {
  display: none;
}

.mod_readaloud_smallreport_cont {
  padding: 5px;
  border: 1px grey solid;
  max-width: 920px;
  margin: auto;
}

.mod_readaloud_feedback_cont {
  display: none;
}

.mod_readaloud_wheretonext_cont {
  display: none;
}

.mod_readaloud_startmenu_cont {
  display: none;
}

.mod_readaloud_previewinstructions_cont {
  display: none;
}

.mod_readaloud_landrinstructions_cont {
  display: none;
}

div.mod_readaloud_feedback_cont.mod_readaloud_postattempt {
  display: block;
}

.mod_readaloud_evaluated_message {
  display: block;
}

.mod_readaloud_error_cont {
  display: none;
}

.mod_readaloud_error_cont h3 {
  color: red;
}

.mod_readaloud_grading_player_cont {
  color: blue;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#mod_readaloud_grading_player {
  width: 100%;
  margin-top: 10px;
}

.mod_readaloud_scorestable {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mod_readaloud_scorestable .table thead th {
  background: #FBB040;
}
.mod_readaloud_scorestable .table thead th,
.mod_readaloud_scorestable .table tr td {
  font-size: 1.2em;
}


.mod_readaloud_hidden_player {
  display: none;
}

.mod_readaloud_button_returnmenu {
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mod_readaloud_menubuttons_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mod_readaloud_hidden_player_button {
  color: white;
  border-color: cadetblue;
  background-color: cadetblue;
  border-style: solid;
  border: 1px;
  padding: 3px;
  text-align: center;
}

.mod_readaloud_hidden_player_button_active {
  color: white;
  border-color: tomato;
  background-color: tomato;
}

.mod_readaloud_hidden_player_button_paused {
  color: white;
}

.mod_readaloud_hidden_player_button_playing {
  color: white;
}

.mod_readaloud_grading_accuracy_cont,
.mod_readaloud_grading_wpm_cont,
.mod_readaloud_grading_error_cont,
.mod_readaloud_grading_sessionscore_cont {
  color: blue;
  display: flex;
  margin-left: 15px;
}

.mod_readaloud_grading_wpm_img {
  color: blue;
}

.mod_readaloud_grading_score {
  color: blue;
  line-height: 18px;
  margin-left: 5px;
  text-align: center;
  font-size: 2em;
  height: 35px;
  width: 70px;
}

.mod_readaloud_grading_error_img {
  color: blue;
}

.mod_readaloud_grading_action_cont {
  color: blue;
  display: flex;
}

.mod_readaloud_afterattempt_cont,
.mod_readaloud_wheretonext_cont,
.mod_readaloud_ungraded_cont {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  margin-top: 30px;
}

#mod_readaloud_hider {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1600px;
  height: 2000px;
  margin-top: -1000px;
  /*set to a negative number 1/2 of your height*/
  margin-left: 0px;
  /*set to a negative number 1/2 of your width*/
  /*
      z- index must be lower than pop up box
     */
  z-index: 99;
  background-color: Black;
  opacity: 0.6;
}

#mod_readaloud_progress_cont {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 120px;
  margin-top: -60px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -150px;
  /*set to a negative number 1/2 of your width*/
  border: 2px solid black;
  z-index: 100;
  background-color: white;
}

.reviewmode .mod_readaloud_grading_passageword {
  cursor: pointer;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.reviewmode .mod_readaloud_grading_passageword:hover {
  background-color: darkgray;
}

/* spotcheckmode */

.mod_readaloud_grading_passageword.mod_readaloud_grading_badword.mod_readaloud_spotcheckmode {
  border-color: green;
  background-color: #d7f9ca;
}

.mod_readaloud_grading_passagespace.mod_readaloud_spotcheckmode {
  background-color: green;
}

.mod_readaloud_grading_passageword.mod_readaloud_aiunmatched {
  background-color: lightgrey;
}

.mod_readaloud_grading_passagespace.mod_readaloud_aiunmatched {
  background-color: lightgrey;
}

.mod_readaloud_grading_passageactions {
  margin-top: 10px;
}

.mod_readaloud_grading_passageactions>button {
  margin: 5px;
}

.btn.mod_readaloud_quickgrade_ok {
  background-color: DodgerBlue;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 10px 14px;
  /* Some padding */
  font-size: 14px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  margin: 2px;
  background-image: none;
}

/* Darker background on mouse-over */

.btn.mod_readaloud_quickgrade_ok:hover {
  background-color: RoyalBlue;
}

.btn.mod_readaloud_quickgrade_ng {
  background-color: darkgrey;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 10px 14px;
  /* Some padding */
  font-size: 14px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
  margin: 2px;
  background-image: none;
}

/* Darker background on mouse-over */

.btn.mod_readaloud_quickgrade_ng:hover {
  background-color: grey;
}

div.mod_readaloud_admintab_cont {
  margin-bottom: 20px;
  margin-top: 20px;
}

div.mod_readaloud_attemptsummary {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.mod_readaloud_attemptsummarytable {
  border: 1px solid lightgrey;
  max-width: 450px;
  margin: auto;
}

.mod_readaloud_modelaudio_activesentence {
  background-color: lightyellow;
}

.collapsespaces .mod_readaloud_grading_passagespace:not(.mod_readaloud_grading_endspace) {
  display: none;
}
.collapsespaces .mod_readaloud_grading_passageword {
  padding: 1.5px;
}

.mod_readaloud_modeltranscript {
  background-color: #ddd;
  border: 1px solid darkgrey;
  padding: 5px;
}

.mod_readaloud_progresschart {
  max-width: 600px;
  margin: auto;
}

.mod_readaloud_progressheader {
  margin-top: 20px;
}

.mode-chooser {
  height: 200px;
  border: 1px solid darkgray;
  margin-bottom: 10px;
  position: relative;
  background-repeat: none;
  background-repeat: no-repeat;
  -webkit-background-size: 100px;
  background-size: 100px;
  background-position: center 5px;
  cursor: pointer;
  width: 300px;
  margin: 5px;
}

.mode-chooser.preview {
  background-image: url([[pix:mod_readaloud|preview]]);
}

.mode-chooser.readaloudshadow {
  background-image: url([[pix:mod_readaloud|readaloudshadow]]);
}

.mode-chooser.readaloud {
  background-image: url([[pix:mod_readaloud|readaloud]]);
}

.mode-chooser.landr {
  background-image: url([[pix:mod_readaloud|listenandrepeat]]);
}

.mode-chooser.no-show {
  display:none;
}
.mode-chooser.no-click {
  background-color: lightgrey;
  pointer-events: none;
}

.mode-chooser:hover {
  background-color: #f5f5f5;
}

.mode-chooser-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  border-top: 1px solid darkgray;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

#mod_readaloud_button_stopandplay {
  height: 40px;
  border: 1px solid transparent;
  display: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.mod_readaloud_modal_target_word {
  margin-right: 10px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  position: relative;
}

.mod_readaloud_modal_target_word_correct {
  background-color: rgba(0, 255, 0, 0.5);
}

.mod_readaloud_modal_target_word_incorrect {
  background-color: rgba(255, 0, 0, 0.5);
}

.mod_readaloud_modal_target_word_correct::after {
  content: " ✔";
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
}

.mod_readaloud_modal_target_word_incorrect::after {
  content: " ✘";
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
}

.mod_readaloud_grading_passageword {
  cursor: pointer;
}
#mod_readaloud_landr_modalfinished {
  display: none;
}

#mod_readaloud_landr_modalplayself {
  display: none;
}

#mod_readaloud_modal_inner{
  text-align:center;
}

#mod_readaloud_modal_controls{
  height:64px;
}

/*TT Recorder Styles */
.mod_readaloud_ttrec_waveButtonContainer {
  position: relative;
  margin: auto;
  border: 2px solid darkgray;
  border-radius: 10px;
  width: 200px;
}

.mod_readaloud_ttrec_waveForm {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border-radius: 10px;
}

.mod_readaloud_ttrec_waveButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 3px #ffccbd, inset 0px -1px 3px #9c282e;
  color: #000;
  font-size: 26px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  color: white;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: red;
}

.mod_intro_box.mod_readaloud_center {
  max-width: 920px;
  margin: auto;
}

.mod_readaloud_manybuttonsmenu_item {
  max-width: 800px;
}
.mod_readaloud_menubutton_warning {
  color: red;
  display: block;
}

.mod_readaloud_skeleton_box {
  background-color: #DDDBDD;
  color: grey;
  -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: readaloudshimmer 2.5s infinite;

}
@keyframes readaloudshimmer {
  100% {-webkit-mask-position:left}
}

.mod_readaloud_gtinstructions {
  margin: 8px;
}

.readaloud_reportsmenu_box {
  text-align: center;
  display: flex;
}

.readaloud_reportsmenu_item {
 /* height: 80px;*/
  width: 150px;
  margin: 10px;
}

.readaloud_reportsmenu_itembutton button{
  height: 80px;
  width: 150px;
}
.mod_readaloud_rtl {
  direction: rtl;
  text-align: right;
}

/* New Small Report */
.mod_readaloud_smallreport_cont .mod_readaloud_smallreport_stars  {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #FBB040;
  text-shadow: 0 0 1px #000000;
}
.mod_readaloud_smallreport_cont .mod_readaloud_smallreport_stars .fa-star-o {
  color: lightgrey;
  text-shadow: none;
}


.mod_readaloud_smallreport_cont  .mod_readaloud_smallreport_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .mod_readaloud_smallreport_cont .mod_readaloud_smallreport_stars,
  .mod_readaloud_smallreport_cont  .mod_readaloud_smallreport_cards {
    width: 60%;
    max-width: 420px;
  }
}

.mod_readaloud_smallreport_cards .mod_readaloud_smallreport_card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: -4px;
}

.mod_readaloud_smallreport_cards .mod_readaloud_smallreport_card_content span {
  font-weight: 700;
  font-size: 30px;
  /* color: #A49AD0; */
  margin-bottom: -4px;
}


.mod_readaloud_smallreport_card_tag {
  /* background: #E0E3FF; */
  background: #FBB040;
  border-radius: 5px;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #2D225D;
  position: absolute;
  padding: 7px 12px 6px;
  text-align: center;
  top: -12px;
  bottom: auto;
}


.mod_readaloud_smallreport_card {
  background: #FAFBFD;
  border: 1px solid #DCE0E3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  position: relative;
  min-width: 110px;
}

@media screen and (min-width: 768px) {
  .mod_readaloud_smallreport_card {
    padding: 10px;
  }
}
.mod_readaloud_smallreport_card p {
  font-size: 13px;
  line-height: 16px;
}

/* Audio player */

.mod_readaloud_audioplayer {
  background: #FAFBFD;
  border: 1px solid #DCE0E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
}

@media screen and (min-width: 576px) {
  .mod_readaloud_smallreport_player {
    width: 60%;
  }
  .mod_readaloud_audioplayer_play_button {
    top: 36px
  }
  .mod_readaloud_smallreport_card {
    min-width: 130px;
  }
}


.mod_readaloud_audioplayer_play_button {
  width: 48px;
  height: 48px;
  background-color: #FBB040;
  color: #fff;
  background-image: url([[pix:mod_readaloud|poodll-readaloud-audioplayer-play-icon]]);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: none;
  position: absolute;
}

.mod_readaloud_audioplayer_play_button[data-state="playing"] {
  background-image: url([[pix:mod_readaloud|poodll-readaloud-audioplayer-pause-icon]]);
}

.mod_readaloud_audioplayer_skip_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
  .mod_readaloud_audioplayer_skip_buttons {
    margin-bottom: 14px;
    margin-top: 36px;
    position: relative;
    top: 32px;
  }
}

.mod_readaloud_audioplayer_skip_button_back,
.mod_readaloud_audioplayer_skip_button_forward {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  font-weight: 500;
  /* color: #6F58DE; */
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 576px) {
  .mod_readaloud_audioplayer_skip_button_back,
  .mod_readaloud_audioplayer_skip_button_forward {
    transform: scale(1.3);
  }
}

.mod_readaloud_audioplayer_skip_button_back:hover,
.mod_readaloud_audioplayer_skip_button_forward:hover,
.mod_readaloud_audioplayer_skip_button_back:active,
.mod_readaloud_audioplayer_skip_button_forward:active {
  background: #DCDFF5;
}


.mod_readaloud_audioplayer_skip_button_back::before,
.mod_readaloud_audioplayer_skip_button_forward::before {
  content: ' ';
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 21px;
  display: block;
  position: absolute;
  top: 7px;
}

.mod_readaloud_audioplayer_skip_button_back::before {
  background-image: url([[pix:mod_readaloud|poodll-readaloud-audioplayer-back-icon]]);
}

.mod_readaloud_audioplayer_skip_button_forward::before {
  background-image: url([[pix:mod_readaloud|poodll-readaloud-audioplayer-forward-icon]]);
}

.mod_readaloud_audioplayer_time {
  font-weight: 600;
  font-size: 13px;
  color: #2D225D;
}

@media screen and (min-width: 576px) {
  .mod_readaloud_audioplayer_time {
    font-size: 15px;
  }
}

.mod_readaloud_audioplayer_bar {
  position: relative;
  height: 4px;
  width: 95%;
  margin-bottom: 6px;
}

@media screen and (min-width: 576px) {
  .mod_readaloud_audioplayer_bar {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .mod_readaloud_audioplayer_bar {
    width: 70%;
  }
}

.mod_readaloud_audioplayer_bar_behind {
  height: 2px;
  width: 100%;
  background-color: #2D225D;
  position: absolute;
}

.mod_readaloud_audioplayer_bar_front {
  height: 4px;
  width: 0%;
  background-color: #2D225D;
  position: absolute;
  top: -1px;
}

/* Experimental stuff */
.mod_readaloud_fillscreen_container {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 90vh;
}
.mod_readaloud_fillscreen_container .mod_readaloud_passage_cont {
  flex: 1; /* takes the remaining height of the "container" div */
  overflow-y: auto;/* overflows to show vertical scrolling */
  overflow-x: hidden;
}

.fade-bottom {
  position: relative;
  /*overflow: hidden;*/
}

.fade-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust the height of the faded area */
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
}