// Import Bootstrap.
@import "../../../../theme/boost/scss/bootstrap/functions";
@import "../../../../theme/boost/scss/bootstrap/variables";
@import "../../../../theme/boost/scss/bootstrap/vendor/rfs";
@import "../../../../theme/boost/scss/bootstrap/mixins/buttons";

// Readaloud button mixins.
@mixin readaloud-btn-size {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    line-height: normal;
}

@mixin readaloud-btn-variant($background, $border, $color) {
    background-color: $background;
    border-color: $border;
    color: $color;
}

@mixin readaloud-control-btn-variant($background, $border, $color) {
    @include readaloud-btn-variant($background, $border, $color);
    box-shadow: 0 0 0 6px rgba($background, 0.15);
}

@mixin readaloud-passage-picture($size) {
    aspect-ratio: 1/1;
    height: $size;
    width: $size;
}
