#page-mod-readaloud-view {
    #page.drawers {
        // Hide the core header.
        .activity-header {
            display: none;
        }

        // Style the mod_readaloud activity header.
        .mod_readaloud-activity-header {
            .mod_readaloud-activity-header-main {
                background: $purple6;
                .mod_readaloud-activity-description {
                    color: $gray-700;
                }
                .mod_readaloud-activity-picture img {
                    aspect-ratio: 1/1;
                    height: $passagepicturesize;
                    width: $passagepicturesize;
                }
            }
            .mod_readaloud-activity-info {
                border: 1px solid $gray-100;
            }
        }
    }
}
