#mod_readaloud_practice_cont_wrap {
    #mod_readaloud_practice_inner {
        #mod_readaloud_practice_phraseplayer {
            border-radius: $border-radius-lg;
            #mod_readaloud_practice_play, #mod_readaloud_practice_playself {
                @include readaloud-btn-variant($white, $green, $green);
                border-radius: 50%;
                height: 24px;
                padding: 0;
                width: 24px;
                .icon-play {
                    flex-shrink: 0;
                    height: 13.7px;
                    width: 13.7px;
                }
            }
        }
        #mod_readaloud_practice_navigation {
            button {
                color: $gray-600;
            }
        }
        #mod_readaloud_practice_controls {
            align-items: center;
            display: flex;
            gap: 10px;
        }

        .mod_readaloud_ttrec_waveButtonContainer {
            margin: auto;
            position: relative;
            width: 181px;
            canvas.mod_readaloud_ttrec_waveForm {
                background-color: transparent;
                height: 46px;
                width: 100%;
            }
            button.mod_readaloud_ttrec_waveButton {
                font-size: 24px;
                position: absolute;
            }
        }
    }
    .ra_practice_results_container {
        .mod_readaloud_practice_target_word {
            position: relative; /* so the pseudo-element can be placed relative to each word */
            margin: 0 4px;
            padding: 0 2px;
        }

        .mod_readaloud_practice_target_word_correct::after {
            content: "✔";                /* tick mark */
            color: green;
            position: absolute;
            top: -1.2em;                 /* adjust vertical position */
            left: 50%;                   /* center horizontally */
            transform: translateX(-50%);
            font-size: 0.8em;
        }

        .mod_readaloud_practice_target_word_incorrect::after {
            content: "✘";                /* cross mark */
            color: red;
            position: absolute;
            top: -1.2em;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.8em;
        }
    }
}
