#mod_readaloud_quiz_cont_wrap {
    // TODO: Remove temp show.
    display: block !important; // Override inline style.

    #mod_readaloud_quiz_items_cont {
        .readaloud_questioncontainer {
            .mcplayrow {
                .readaloud_mc_response {
                    .readaloud_sentence {
                        color: $purple;
                    }
                }
                .col-md-12:has(.readaloud_mc_selected) {
                    background: $purple6;
                    border-color: transparent !important; // Override inline style.
                    font-weight: bold;
                }
            }
            .readaloud_nextbutton {
                @include readaloud-btn-variant($purple, $purple, $white);
                min-width: 110px;
            }
        }
    }

    #mod_readaloud_quizviewreport_container {
        background: $purple;
        #quizviewreport_title_container {
            color: $white;
            h5 {
                color: inherit;
                font-weight: $font-weight-semibold;
            }
        }
        button.mod_readaloud_quizviewreport_button {
            @include readaloud-btn-variant($white, $white, $purple);
            min-width: 110px;
            white-space: nowrap;
        }
    }
    #mod_readaloud_quiz_finished {
        .mod_readaloud_reattemptquiz_button {
            @include readaloud-btn-variant($purple, $purple, $white);
            min-width: 110px;
        }
        #mod_readaloud_quizresult_div {
            .qa-row {
                &.border-bottom {
                    border-bottom: none !important; // Override inline style.
                }
                .qa-col {
                    flex: 1 1 0;
                    min-width: 0;
                    &--icon {
                        flex: 0 0 24px;
                        width: 24px;
                    }
                }
            }
        }
    }
}

// TODO: Sort these styles.
.readaloud_mc_confirmchoice {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.33em;
    overflow: auto;
  }

.readaloud_quiz_progress {
    border: 1px solid #000;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  
  .readaloud_quiz_progress_item {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
  
  .readaloud_quiz_progress_item_current {
    background-color: green;
    color: white;
  }
  
  .readaloud_quiz_progress_finalitem {
    border-radius: 15%;
    width: 30px;
    height: 30px;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
  
  .readaloud_quiz_progress_item_completed {
    background-color: darkgrey;
  }
  
  .readaloud_quiz_progress_line {
    background-color: gray;
    height: 10px;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }