#mod_readaloud_quiz_cont_wrap {
    // TODO: Remove temp show.
    display: block !important; // Override inline style.
    // TODO: In multichoice.js - remove finalChoice > resultspanel code? Also see multichoice.mustache.

    #mod_readaloud_quiz_items_cont {
        .readaloud_questioncontainer {
            .mcplayrow {
                .readaloud_mc_response {
                    .readaloud_sentence {
                        color: $purple;
                    }
                    .readaloud_mc_resultbox {
                        .fa.fa-lg {
                            &.fa-check.readaloud_mc_right {
                                color: $green;
                            }
                            &.fa.fa-times.readaloud_mc_wrong {
                                color: $red;
                            }
                        }
                    }
                }
                .col-md-12:has(.readaloud_mc_selected) {
                    background: $purple6;
                    border-color: transparent !important; // Override inline style.
                    font-weight: bold;
                }
                .readaloud_mc_confirmchoice {
                    @include readaloud-btn-variant($purple, $purple, $white);
                    min-width: 110px;
                }
            }
            .readaloud_nextbutton {
                @include readaloud-btn-variant($purple, $purple, $white);
                min-width: 110px;
            }

            // The numbered progress bar.
            .readaloud_quiz_progress {
                align-items: center;
                display: flex;
                height: 50px;
                justify-content: space-around;
                position: relative;

                .readaloud_quiz_progress_line {
                    background-color: $gray-200;
                    border-radius: 24px;
                    bottom: 0;
                    height: 10px;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                &_item {
                    @include quiz-progress-item($gray-600);
                    &_current {
                        background-color: $green;
                    }
                    &_completed {
                        background-color: $gray-800;
                    }
                }
                &_finalitem {
                    @include quiz-progress-item($red);
                }
            }
        }
    }

    #mod_readaloud_quizviewreport_container {
        background: $purple;
        #quizviewreport_title_container {
            color: $white;
            h5 {
                color: inherit;
                font-weight: $font-weight-semibold;
            }
        }
        button.mod_readaloud_quizviewreport_button {
            @include readaloud-btn-variant($white, $white, $purple);
            min-width: 110px;
            white-space: nowrap;
        }
    }
    #mod_readaloud_quiz_finished {
        .mod_readaloud_reattemptquiz_button {
            @include readaloud-btn-variant($purple, $purple, $white);
            min-width: 110px;
        }

        #mod_readaloud_quizresult_div {
            .qa-row {
                &.border-bottom {
                    border-bottom: none !important; // Override inline style.
                }
                .qa-col {
                    flex: 1 1 0;
                    min-width: 0;
                    &--icon {
                        flex: 0 0 24px;
                        width: 24px;
                    }
                }
            }
        }
    }

    .mod_readaloud_studentreportpassage {
        .mod_readaloud_grading_unreadword {
            @include word-highlight($gray-200);
        }
    }
}
