{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/activity_header_inpage

    Activity header for the Read Aloud activity.

    Context variables required for this template:
    * title - The title of the activity module
    * description - The intro for the module
    * completion - The completion info if available for the the module as acquired via the activity_information method
    * additional_items - Any additional URL select navigation that needs to show up in the header

    Example context (json):
    {}
}}

<span id="maincontent"></span>

{{#activityheader}}
<div class="mod_readaloud-activity-header-inpage d-flex flex-column gap-4 mb-4">
    <div class="mod_readaloud-activity-header-main rounded d-flex flex-wrap align-items-center p-3 gap-3"
        data-for="page-activity-header">
        <a href="{{backurl}}" class="backarrow d-inline-flex align-items-center">
            {{> mod_readaloud/backarrow}}
        </a>
        {{#passagepictureurl}}
        <div class="mod_readaloud-activity-picture">
            <img src="{{passagepictureurl}}" alt="">
        </div>
        {{/passagepictureurl}}
        <h2 class="activity-name h3 mb-0">{{activityname}}</h2>
        <div id="{{M_PREVIEWINSTRUCTIONS_CONTAINER}}" class="{{M_PREVIEWINSTRUCTIONS_CONTAINER}}">
            <div class="box">
                <div class="{{M_PREVIEWINSTRUCTIONS}}">
                    {{#str}} previewhelp, mod_readaloud {{/str}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/activityheader}}
