<div id="M_MENUBUTTONS_CONTAINER" class="col-3 border-right">

    {{#welcomemessage}}
    <div id="{{M_MENUINSTRUCTIONS_CONTAINER}}" class="{{M_MENUINSTRUCTIONS_CONTAINER}}">
        <div class="{{M_CLASS_CENTER}} {{M_INSTRUCTIONS}} pl-3">
            {{{welcomemessage}}}
        </div>
    </div>
    {{/welcomemessage}}

    <ul class="nav nav-pills flex-column mb-2">

        <li class="nav-item" id="{{M_HOME}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="home">{{#str}} home, mod_readaloud {{/str}}</a>
        </li>

        {{#enablepreview}}
        <li class="nav-item" id="{{M_STARTPREVIEW}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="preview">{{#str}} mode_listen, mod_readaloud {{/str}}</a>
        </li>
        {{/enablepreview}}
        {{#enablelandr}}
        <li class="nav-item {{^hasaudiobreaks}}no-click{{/hasaudiobreaks}}" id="{{M_STARTLANDR}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="landr">{{#str}} mode_practice, mod_readaloud {{/str}}</a>
            {{^hasaudiobreaks}}
            <span class="mod_readaloud_menubutton_warning">{{#str}} modelaudiowarning, mod_readaloud {{/str}}</span>
            {{/hasaudiobreaks}}
        </li>
        {{/enablelandr}}
        {{#enableshadow}}
        <li class="nav-item {{^canshadowattempt}}no-click{{/canshadowattempt}}" id="{{M_STARTSHADOW}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="shadow">{{#str}} mode_shadow, mod_readaloud {{/str}}</a>
            {{^canshadowattempt}}
            <!--<span class="mod_readaloud_menubutton_warning">{{#str}} exceededallattempts, mod_readaloud {{/str}}</span>-->
            {{/canshadowattempt}}
        </li>
        {{/enableshadow}}
        {{#enablenoshadow}}
        <li class="nav-item {{^canattempt}}no-click{{/canattempt}}" id="{{M_STARTNOSHADOW}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="startnoshadow">{{#str}} mode_read, mod_readaloud {{/str}}</a>
            {{^canattempt}}
            <span class="mod_readaloud_menubutton_warning">{{#str}} exceededallattempts, mod_readaloud {{/str}}</span>
            {{/canattempt}}
        </li>
        {{/enablenoshadow}}
        {{#enablequiz}}
        <li class="nav-item {{#noquiz}}no-click{{/noquiz}}" id="{{M_STARTQUIZ}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="quiz">{{#str}} mode_quiz, mod_readaloud {{/str}}</a>
            {{#quizcompleted}}
            <span class="mod_readaloud_menubutton_warning">{{#str}} quizcompletedwarning, mod_readaloud {{/str}}</span>
            {{/quizcompleted}}
        </li>
        {{/enablequiz}}

        <li class="nav-item" id="{{M_STARTREPORT}}">
            <a href="javascript:void(0)"  class="nav-link h6" data-mode="fullreport">Report</a>
        </li>
    </ul>
</div>