<div id="readaloud-recorder-{{type}}-{{id}}" data-id="readaloud-recorder-{{type}}-{{id}}" class="readaloud_speechcards_pushrecorder readaloud-poodllrecorder"
     data-parent="{{wwwroot}}" data-type="push" data-width="240" data-height="80" data-appid="mod_readaloud" data-media="audio"
  data-speechevents="1" data-language="{{language}}" data-transcribe="0" data-transcode="0" data-region="{{region}}"   data-owner="{{owner}}" data-localloader="/mod/readaloud/poodllloader.html" data-token="{{cloudpoodlltoken}}">
</div>