{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/fetchcbpage

    Explains the in app free trial and opens the Chargebee checkout on demand. The Chargebee
    details are passed to mod_readaloud/cbfreetrial from PHP, not from this template.

    Example context (json):
    {
        "wwwroot": "https://mymoodle.com",
        "settingsurl": "https://mymoodle.com/admin/settings.php?section=modsettingreadaloud"
    }
}}
<div class="mod_readaloud_cbfreetrial">
    <p>{{#str}}freetrial_desc, mod_readaloud{{/str}}</p>

    <ol class="mod_readaloud_cbfreetrial_steps">
        <li>{{#str}}cbtrialstep1, mod_readaloud{{/str}}</li>
        <li>{{#str}}cbtrialstep2, mod_readaloud{{/str}}</li>
        <li>{{#str}}cbtrialstep3, mod_readaloud{{/str}}</li>
    </ol>

    <div class="alert alert-info">
        {{#str}}cbtrialsiteurl, mod_readaloud{{/str}}
        <strong>{{wwwroot}}</strong>
        <div class="small">{{#str}}cbtrialsiteurl_desc, mod_readaloud{{/str}}</div>
    </div>

    <p>
        <button type="button" class="btn btn-primary btn-lg" data-action="cbstarttrial">
            {{#str}}cbgetfreetrial, mod_readaloud{{/str}}
        </button>
    </p>

    <div class="alert alert-success d-none" data-region="cbaftercheckout">
        <h4>{{#str}}cbaftercheckout, mod_readaloud{{/str}}</h4>
        <p class="mb-0">{{#str}}cbaftercheckout_desc, mod_readaloud{{/str}}</p>
    </div>

    <p>
        <a href="{{{settingsurl}}}">{{#str}}cbgotosettings, mod_readaloud{{/str}}</a>
    </p>
</div>
