{{#fullreportdata}}
<div id="{{fullreportcontainer}}" class='mod_readaloud_finalreport {{fullreportcontainer}}'>

    {{>mod_readaloud/studentreadingattemptssummary}}
    {{>mod_readaloud/studentquizattemptssummary}}

    <div class="{{M_FEEDBACK_CONTAINER}} {{constants::M_POSTATTEMPT}}" id="{{M_FEEDBACK_CONTAINER}}">
        <div class="box py-3 generalbox mb-3">
            {{generalfeedback}}
        </div>
    </div>
</div>
{{/fullreportdata}}