{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/home

    TODO describe template home

    Example context (json):
    {
    }
}}
<div id="{{M_HOME_CONTAINER}}" class="{{M_HOME_CONTAINER}}">
    <h2 class="m-3">Advanced English Course</h2>
    <p class="m-3">TODO: Output the user content or default content here.</p>
    <div id="{{M_PROGRESS_BAR_CONTAINER}}" class="{{M_PROGRESS_BAR_CONTAINER}} m-3">
        <div class="progress w-25">
            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
        OR
        <div class="progress-text">
            <span class="sr-only">{{#str}}aria:courseprogress, block_myoverview{{/str}}</span>
            {{#str}}completepercent, block_myoverview, <span>{{progress}}</span>{{/str}}
        </div>
    </div>


    <!--<div id="{{M_MODE_JOURNEY_CONTAINER}}" class="{{M_MODE_JOURNEY_CONTAINER}} d-flex flex-wrap">
        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-headphones mb-2"></i>
                {{#str}}mode_listen, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>

        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-comment mb-2"></i>
                {{#str}}mode_practice, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>

        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-comments"></i>
                {{#str}}mode_shadow, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>

        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <span class="mode-read-icon mb-2"></span>
                {{#str}}mode_read, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>

        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-circle-question mb-2"></i>
                {{#str}}mode_quiz, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>

        <div class="d-flex align-items-center w-25">
            <div class="mode border rounded p-3 m-3 w-100 d-flex flex-column align-items-center justify-content-center">
                <i class="fa-solid fa-chart-simple mb-2"></i>
                {{#str}}mode_report, mod_readaloud{{/str}}
            </div>
            <i class="fa-solid fa-arrow-right mx-3 text-secondary"></i>
        </div>
    </div>-->

    <div id="{{M_MODE_JOURNEY_CONTAINER}}" class="{{M_MODE_JOURNEY_CONTAINER}} d-flex flex-wrap align-items-center justify-content-center p-3">
    <div class="mode-journey d-flex align-items-center">
        <div class="mode completed">
            <i class="fa-solid fa-headphones"></i>
            {{#str}}mode_listen, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow"></i>
    </div>

    <div class="mode-journey d-flex align-items-center">
        <div class="mode completed">
            <i class="fa-solid fa-comment"></i>
            {{#str}}mode_practice, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow"></i>
    </div>

    <div class="mode-journey d-flex align-items-center">
        <div class="mode in-progress">
            <i class="fa-solid fa-comments"></i>
            {{#str}}mode_shadow, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow"></i>
    </div>

    <div class="mode-journey d-flex align-items-center">
        <div class="mode upcoming">
            <span class="mode-read-icon"></span>
            {{#str}}mode_read, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow"></i>
    </div>

    <div class="mode-journey d-flex align-items-center">
        <div class="mode upcoming">
            <i class="fa-solid fa-circle-question"></i>
            {{#str}}mode_quiz, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow"></i>
    </div>

    <div class="mode-journey d-flex align-items-center">
        <div class="mode upcoming">
            <i class="fa-solid fa-chart-simple"></i>
            {{#str}}mode_report, mod_readaloud{{/str}}
        </div>
        <i class="fa-solid fa-arrow-right journey-arrow last-mode"></i>
    </div>
</div>


    <div id="{{M_HOME_CONTAINER}}" class="{{M_HOME_CONTAINER}} border rounded p-3 m-3 w-100">
        <h5>Recommended next</h5>
        <a class="btn btn-primary" href="#">Continue with last accessed</a>
        <a class="btn btn-outline-primary" href="#">View something or other</a>
    </div>
</div>