{{> mod_readaloud/passagecontainer}}
<div class="controls d-flex flex-column align-items-center p-3 mt-4" role="group" aria-label="Audio controls">
    {{#playbutton}}
        {{> mod_readaloud/playbutton}}
    {{/playbutton}}
    <!-- Button trigger modal -->
    <button type="button" id="mod_readaloud_button_quitlistening" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#practicemodal">
     {{#str}}quitlistening , mod_readaloud {{/str}}
    </button>
    {{> mod_readaloud/practice_modal}}
</div>