{{> mod_readaloud/passagecontainer}}
<div class="controls d-flex flex-column align-items-center p-3 mt-4" role="group" aria-label="Audio controls">
    {{#playbutton}}
        {{> mod_readaloud/playbutton}}
    {{/playbutton}}
    <!-- Button trigger modal -->
    <button type="button" id="mod_readaloud_hidelistenquitmodal" class="btn" data-bs-toggle="modal" data-bs-target="#mod_readaloud_listenquitmodal" style="display: none;">
     hide quit listening modal
    </button>
    {{> mod_readaloud/listenquit_modal}}
</div>