<div id="readaloud_loading" class="readaloud_loading">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><br>
    <span class="readaloud_loadingtext">{{#str}}loading, mod_readaloud{{/str}}</span>
</div>