<fieldset id='ra_mediaprompt_panel_{{mediatype}}' class='ra_mediaprompt_panel border p-2' data-mediaprompt="{{mediatype}}"
          data-keyfield="{{keyfield}}" style='display: none'>
  <legend class='w-auto'>{{legend}}</legend>
  <button type='button' class='close' data-dismiss='fieldset' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
  <div class='ra_mediaprompt_instructions'>{{instructions}}</div>
  {{! we deliberately do not close the fieldset. that is done after form contents are appended }}
  