{{> mod_readaloud/questionheader}}
  {{#imagecontent}}
      {{> mod_readaloud/multichoiceimagecontent}}
  {{/imagecontent}}
  {{#audiocontent}}
      {{> mod_readaloud/multichoiceaudiocontent}}
  {{/audiocontent}}
  {{^imagecontent}}
    {{^audiocontent}}
        {{> mod_readaloud/multichoicetextcontent}}
    {{/audiocontent}}
  {{/imagecontent}}
    <div class="mcplayrow">
        <div class="col-md-6" style="margin-left: auto; margin-right: auto">
            <div class="readaloud_mc_confirmchoice" style="display: none;" >
                <span class="readaloud_sentence">{{#str}}confirmchoice, mod_readaloud{{/str}}</span>
            </div>
        </div>
    </div>
{{> mod_readaloud/resultspanel}}
{{> mod_readaloud/questionfooter}}