{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/practicecontainer

    Practice Container

    Example context (json):
    {
    }
}}
<div id="{{M_PRACTICE_CONTAINER_WRAP}}" class="{{M_PRACTICE_CONTAINER_WRAP}}">
    <div id="mod_readaloud_practice_inner">

        <div class="ra_practice_targets d-flex border p-3 position-relative">
            <div id="mod_readaloud_practice_target_phrase" class="{{#practice.rtl}}mod_readaloud_rtl{{/practice.rtl}} d-flex gap-1"></div>
            <div class="mod_readaloud_practice_playbuttons position-absolute end-0 top-0 m-2">
                <button id="mod_readaloud_practice_play" class="btn btn-lg btn-secondary">
                    <i class="fa fa-volume-up"></i>
                </button>
                <button id="mod_readaloud_practice_playself" class="btn btn-lg btn-secondary">
                    <i class="fa fa-repeat"></i>
                </button>
            </div>
        </div>


        <div id="mod_readaloud_practice_navigation" class="btn-group w-100" role="group" aria-label="Practice navigation">
            <button id="mod_readaloud_practice_skipback" class="btn btn-link text-start" type="button" >
                <i class="fa-solid fa-chevron-left me-2" aria-hidden="true"></i>{{#str}} prev, mod_readaloud {{/str}}
            </button>
            <button id="mod_readaloud_practice_skipforward" class="btn btn-link text-end" type="button" >
                {{#str}} next, mod_readaloud {{/str}}<i class="fa-solid fa-chevron-right ms-2" aria-hidden="true"></i>
            </button>
        </div>


        {{> mod_readaloud/recordbutton}}

        <div id="mod_readaloud_practice_controls">
            <div>
                <input type="checkbox" id="mod_readaloud_practice_shadow" name="shadow" value="false">
                <label for="shadow">&nbsp;+
                    <i class="fa fa-microphone"></i>
                </label>
            </div>
            <div id="mod_readaloud_practice_recorder">
                {{{practice.recorder}}}
            </div>
            <button id="mod_readaloud_practice_finished" class="btn btn-lg btn-secondary">
                <i class="fa fa-check"></i>
            </button>
        </div>
        <audio id='mod_readaloud_practice_hiddenplayer' class="mod_readaloud_practice_hiddenplayer nomediaplugin nopoodll"></audio>
        <audio id='mod_readaloud_practice_hiddenselfplayer' class="mod_readaloud_practice_hiddenselfplayer nomediaplugin nopoodll"></audio>
    </div>
</div>
