<div id="practice-resultbox-almost" class="practice-resultbox d-flex justify-content-center align-items-center mb-4">
    <div class="practice-resultbox-inner d-flex flex-column justify-content-center align-items-center gap-3 p-3">
        <div class="d-flex flex-column align-items-center gap-3 pb-0">

            {{> mod_readaloud/practice_results_text }}

            <h5 class="mb-0">{{#str}} almost, mod_readaloud {{/str}}</h5>
            <p class="mb-0">{{#str}} almost_desc, mod_readaloud {{/str}}</p>
        </div>

        {{> mod_readaloud/practice_results_stars }}

        <div class="ra_practice_feedback_buttons d-flex gap-3 w-100">
            <button type="button" class="ra_practice_retry btn btn-secondary">
                {{#str}} tryagain, mod_readaloud {{/str}}
            </button>
            <button type="button" class="ra_practice_next btn btn-primary">
                {{#str}} continue, mod_readaloud {{/str}}
            </button>
        </div>
    </div>
</div>