<div id="practice-resultbox-complete" class="practice-resultbox d-flex justify-content-center align-items-center mb-4">
    <div class="practice-resultbox-inner d-flex flex-column justify-content-center align-items-center gap-3 p-3">
        <div class="d-flex flex-column align-items-center gap-3 pb-0">
            <span class="icon m-3 p-2" aria-hidden="true">
                {{> mod_readaloud/practice_result_complete_icon }}
            </span>
            <h5 class="mb-0">{{#str}} practicecomplete, mod_readaloud {{/str}}</h5>
            <p class="mb-0">{{#str}} practicecomplete_desc, mod_readaloud {{/str}}</p>
        </div>
        <div class="ra_practice_feedback_buttons d-flex gap-3 w-100">
            <button type="button" class="ra_practice_retry btn btn-secondary">
                {{#str}} keeppracticing, mod_readaloud {{/str}}
            </button>
            <button type="button" class="ra_practice_finish btn btn-primary">
                {{#str}} imready, mod_readaloud {{/str}}
            </button>
        </div>
    </div>
</div>