{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/practicecontainer

    Practice Container

    Example context (json):
    {
    }
}}
<div id="{{M_PRACTICE_CONTAINER_WRAP}}" class="{{M_PRACTICE_CONTAINER_WRAP}}">
    <div id="mod_readaloud_practice_inner">
        <div id="mod_readaloud_practice_target_phrase" style="display: flex; border: 1px grey solid; border-radius: 5px; padding: 10px; margin: auto; justify-content: center;" class="{{#practice.rtl}}mod_readaloud_rtl{{/practice.rtl}}"></div><hr />
        <button id="mod_readaloud_practice_skipback" class="btn btn-lg btn-secondary"><i class="fa fa-arrow-left"></i></button>
        <button id="mod_readaloud_practice_skipforward" class="btn btn-lg btn-secondary"><i class="fa fa-arrow-right"></i></button>
        <button id="mod_readaloud_practice_play" class="btn btn-lg btn-secondary"><i class="fa fa-volume-up"></i></button>
        <button id="mod_readaloud_practice_playself"  class="btn btn-lg btn-secondary"><i class="fa fa-repeat"></i></button>
        <div id="mod_readaloud_practice_controls" style="display: flex; align-items: center; gap: 10px;">
            <div><input type="checkbox" id="mod_readaloud_practice_shadow" name="shadow" value="false"><label for="shadow">&nbsp;+ <i class="fa fa-microphone"></i></label></div>
            <div>
                {{{practice.recorder}}}
            </div>
            <button id="mod_readaloud_practice_finished" class="btn btn-lg btn-secondary"><i class="fa fa-check"></i></button>
        </div>
        <audio id='mod_readaloud_practice_hiddenplayer' class="mod_readaloud_practice_hiddenplayer nomediaplugin nopoodll"></audio>
        <audio id='mod_readaloud_practice_hiddenselfplayer' class="mod_readaloud_practice_hiddenselfplayer nomediaplugin nopoodll"></audio>
    </div>
</div>
