<div class="modal fade" id="practicemodal" tabindex="-1" aria-labelledby="practicemodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center gap-3 pb-0">
                <span class="icon" aria-hidden="true">
                    {{> mod_readaloud/practice }}
                </span>
                <h5 class="mb-0">{{#str}} timetopractice, mod_readaloud {{/str}}</h5>
                <p class="mb-0">{{#str}} listenorpractice, mod_readaloud {{/str}}</p>
            </div>
            <div class="modal-footer border-top-0 d-flex flex-column p-3">
                <div id="practice-actions" class="d-flex gap-3 w-100">
                    <button type="button" class="btn btn-secondary">{{#str}} keeplistening, mod_readaloud {{/str}}</button>
                    <button type="button" class="btn btn-primary">{{#str}} practice, mod_readaloud {{/str}}</button>
                </div>
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">{{#str}} dontshowagain, mod_readaloud {{/str}}</button>
            </div>
        </div>
    </div>
</div>
