<div class="ra_practice_results text-center">

    {{> mod_readaloud/practice_resultbox_incorrect }}

    {{> mod_readaloud/practice_resultbox_almost }}

    {{> mod_readaloud/practice_resultbox_welldone }}

    {{> mod_readaloud/practice_resultbox_complete }}


    <!--<div class="ra_practice_results_audio">
        <button class="ra_practice_results_play btn justify-content-center align-items-center border rounded-circle">
            {{> mod_readaloud/play}}
        </button>
        <button class="ra_practice_results_playself btn justify-content-center align-items-center text-primary border rounded-circle">
            {{> mod_readaloud/play}}
        </button>
    </div>-->
</div>
