{{> mod_readaloud/questionheader}}
<div class="readaloud_freespeaking_box">  
     <div class="ml_freespeaking_resultsbox"></div>
     <div class="ml_freespeaking_pendingbox hidden"><center><i class="fa-solid fa-spinner fa-spin fa-5x"></i></center></div>
     <div class="ml_freespeaking_actionbox">
        <div class="ml_freespeaking_speakbtncontainer" style="width:246px;margin:auto;">
                {{> mod_readaloud/quiz_ttrecorder}}
        </div>
        <div class="timerstatus_{{uniqueid}} ml_freespeaking_timerdisplay ml_recsession"></div>
        <div class="mod_readaloud_fs_wordgoal {{^countwords}}hidden{{/countwords}} ml_recsession">{{#str}} currentwordcount , mod_readaloud {{/str}}: <span class="ml_wordcount">0</span>/{{targetwordcount}}</div>
     </div>
</div>
{{> mod_readaloud/questionfooter}}