{{> mod_readaloud/questionheader}}

<div id="{{uniqueid}}_correctanswer" class="mod_readaloud_spokenandcorrect {{rtl}}" > ---- </div>
{{> mod_readaloud/ttrecorder}}

{{> mod_readaloud/questionfooter}}