<div id="{{uniqueid}}_container" class="readaloud_questioncontainer" style="display: none">

    {{> mod_readaloud/quiz_progress}}

    <audio id="{{uniqueid}}_player"></audio>
    <!-- @@CLOUDPOODLLTOKEN@@ -->
    {{#title}}
    <div class="readaloud_questionheader mt-4">
        {{{title}}}
    </div>
    {{/title}}
    {{#itemtext}}
    <div class="mod_readaloud_itemtext h5 fw-semibold my-4 {{rtl}}">
        {{{itemtext}}}
    </div>
    {{/itemtext}}
    {{#itemttsaudio}}
    <div class="mod_readaloud_itemttsaudio_cont">
        {{> mod_readaloud/ttsaudio}}
    </div>
    {{/itemttsaudio}}

    {{#horizontal}}
    <div class="row mt-3">
        <div class="col-sm-6">
    {{/horizontal}}
        <!-- Content -->
        {{> mod_readaloud/questioncontent}}
    {{#horizontal}}
        </div>
        <div class="col-sm-6">
    {{/horizontal}}