<div class="quizrating d-flex align-items-center justify-content-between no-wrap mb-4">
    <h6 class="fw-semibold mb-0">{{#str}}quizresults, mod_readaloud{{/str}}</h6>
    <div class="mod_readaloud_quizresult_rating">
        {{#yellowstars}}
            <span><img src="{{{ config.wwwroot }}}/mod/readaloud/pix/star-yellow.svg"/></span>
        {{/yellowstars}}
        {{#graystars}}
            <span><img src="{{{ config.wwwroot }}}/mod/readaloud/pix/star-grey.svg"/></span>
        {{/graystars}}
    </div>
</div>

<div class="mod_readaloud_quizfinalscore d-flex align-items-center justify-content-between no-wrap border rounded mb-4 p-5">
    <span class="text-uppercase">{{#str}}totalscore, mod_readaloud{{/str}}</span>
    <div class="d-flex flex-column">
        <p class="h3 font-weight-bold">{{total}}%</p>
    </div>
</div>

{{#canreattemptquiz}}
<div class="mod_readaloud_quizfinalscore d-flex align-items-center justify-content-between no-wrap my-4 m-3">
    <span>Want to try to improve your score?</span>
    <button class="mod_readaloud_reattemptquiz_button btn btn-primary">
    {{#str}}reattempt, mod_readaloud{{/str}}</button>
</div>
{{/canreattemptquiz}}

{{#showfullresults}}
<div id="mod_readaloud_quizitemscores" class="mod_readaloud_quizitemscores">
    <h6 class="fw-semibold mb-4">{{#str}}questions, mod_readaloud{{/str}}</h6>
    {{> mod_readaloud/quizresult}}
</div>
{{/showfullresults}}

<div id="mod_readaloud_quizviewreport_container" class="d-flex justify-content-between p-3 my-4 rounded">
    <div id="quizviewreport_title_container" class="d-flex flex-column justify-content-between">
        <div id="quizviewreport_title" class="d-flex">
            {{> mod_readaloud/report}}
            <h5 class="fw-semibold ms-2 mb-3">{{#str}}viewfinalreport, mod_readaloud{{/str}}</h5>
        </div>
        <p class="mb-0 mr-3">{{#str}}viewfinalreportintro, mod_readaloud{{/str}}</p>
    </div>
    <button class="mod_readaloud_quizviewreport_button btn btn-primary align-self-center" data-action="quizviewreport">{{#str}}viewreports, mod_readaloud{{/str}}</button>
</div>

{{^element.frozen}}
{{#js}}
    require(['jquery', 'mod_readaloud/quizfinished'], function($, quizfinished) {
      quizfinished.init();
    });
{{/js}}
{{/element.frozen}}


<!--{{#reattempturl}}
<div class="readaloud_actionbutton">
<a class="btn btn-secondary btn_finished_attempt center" href="{{{reattempturl}}}" data-href="{{{reattempturl}}}" data-action="reattempt">
    {{#str}}reattempt, mod_readaloud{{/str}}</a>
</div>
{{/reattempturl}}-->
