
{{#ready}}
<div class="mod_readaloud_readreport_player">
    {{> mod_readaloud/audioplayer}}
</div>
{{/ready}}
{{^ready}}
 <div class="mod_readaloud_readreport_dummyplayer mod_readaloud_skeleton_box">
    <i class="fa fa-volume-up"></i>
</div>
{{/ready}}