<div class="{{M_RECORDING_CONTAINER}} d-none">
    <div id="{{M_RECORDER_CONTAINER}}" class="{{M_RECORDER_CONTAINER}} {{M_CLASS_CENTER}}">
        <div id="{{M_RECORDERID}}" class="{{M_CLASS_CENTER}}"
            data-id="{{M_RECORDERID}}"
            data-parent="{{wwwroot}}"
            data-localloading="auto"
            data-localloader="/mod/readaloud/poodlllocalloader.php"
            data-cloudpoodllurl="{{cloudpoodllurl}}"
            data-media="audio"
            data-appid="{{M_COMPONENT}}"
            data-owner="{{owner}}"
            data-type="{{recorder_type}}"
            data-width="{{recorder_width}}"
            data-height="{{recorder_height}}"
            data-updatecontrol="{{M_UPDATE_CONTROL}}"
            data-timelimit="{{timelimit}}"
            data-transcode="1"
            data-transcribe="{{transcribe}}"
            data-language="{{language}}"
            data-expiredays="{{expiredays}}"
            data-region="{{region}}"
            data-fallback="warning"
            data-speechevents="{{speechevents}}"
            data-hints="{{hints}}"
            data-token="{{token}}"
            data-transcribevocab="{{transcribevocab}}">
        </div>
    </div>
</div>