<div class="row minilesson_resultspanel" style="display: none;">
    <div class="col-md-6" style="margin-left: auto;margin-right: auto">
        <div class="minilesson_resultspanel_swish" data-possible="0" data-achieved="0">
            <span class="minilesson_swishstars"></span><span class="minilesson_swishscore"></span>
        </div>
    </div>
</div>