
<div class='mod_readaloud_smallreport_stars'>
    {{> mod_readaloud/smallreportstars}}
</div>

<div class="mod_readaloud_smallreport_cards">
   {{#showstats}}{{> mod_readaloud/smallreportcards}}{{/showstats}}
</div>

