{{> mod_readaloud/questionheader}}
<div class="readaloud_sgapfill_player_box gapfill-container">
    <div style="display:none;" class="sgapfill_results">{{#str}}gapfill_results, mod_readaloud{{/str}}</div>

    <div class="sgapfill_title text-center">{{#str}}speakinggapfill, mod_readaloud{{/str}}</div>

    <div class="sgapfill_mainmenu">
        <div class="sgapfill_loaded" style="display:none;">
            <button disabled class='btn btn-block btn-primary sgapfill_start_btn'>
                <i class='fa fa-play'></i> {{#str}}start, mod_readaloud{{/str}}
            </button>
        </div>
        <div class="sgapfill_not_loaded">
            <p>{{#str}}loading, mod_readaloud{{/str}}</p>
        </div>
    </div>

    <div class="progress-container d-flex" style="display:none;">
        <div id="progresstimer" class="flex-grow-1"></div>
        <div>
            <i style="display:none;" class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
    </div>

    <div style="display:none;" class="sgapfill_listen_cont">
        <button class="btn btn-secondary sgapfill_listen_btn">
            <i class="fa fa-volume-up"></i>
        </button>
    </div>

    <div style="display:none;" class="question"></div>

    <div style="display:none;" class="sgapfill_controls">
        <div class="sgapfill_speakbtncontainer" style="width:246px;margin:auto;position:absolute;left:0;right:0;bottom:0;">

            {{> mod_readaloud/cloudpushrecorder}}
            {{> mod_readaloud/quiz_ttrecorder}}

        </div>
        <button class="btn btn-danger sgapfill_ctrl-btn sgapfill_skip_btn">
            {{#str}}skip, mod_readaloud{{/str}} <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <div class="sgapfill_resultscontainer"></div>

</div>

{{> mod_readaloud/questionfooter}}