<section class="mod_readaloud_quizattemptsummary mb-5">
    <div class="quizrating d-flex align-items-center justify-content-between no-wrap mb-4">
        <h6 class="fw-semibold mb-0">{{#str}}quizresults, mod_readaloud{{/str}}</h6>
        <div class="mod_readaloud_quizresult_rating">Some stars
            {{#yellowstars}}
                <span><img src="{{{ config.wwwroot }}}/mod/readaloud/pix/star-yellow.svg"/></span>
            {{/yellowstars}}
            {{#graystars}}
                <span><img src="{{{ config.wwwroot }}}/mod/readaloud/pix/star-grey.svg"/></span>
            {{/graystars}}
        </div>
    </div>

    <div class="mod_readaloud_quizfinalscore d-flex align-items-center justify-content-between no-wrap border rounded mb-4 p-5">
        <span class="text-uppercase">{{#str}}totalscore, mod_readaloud{{/str}}</span>
        <div class="d-flex flex-column">
            <p class="h3 font-weight-bold">{{total}}%</p>
        </div>
    </div>
</section>
