<div class="mod_readaloud_studentreportpassage_cont mb-4 pt-md-4">
    <p class="h6 fw-semibold mb-4">{{#str}} readingpassage, mod_readaloud {{/str}}</p>
    <div class="mod_readaloud_studentreportpassage">
        {{{smallreport.thepassage}}}
    </div>
</div>