<div class="{{feedback_container}} {{feedback_postattempt}}" id="{{feedback_container}}">
    <div class="box py-3 generalbox">
        <div class="mod_readaloud_center">
            {{feedback_text}}
        </div>
    </div>
</div>