<div class="mod_readaloud_center mod_readaloud_progressheader">
    <h5>{{#str}}progresschart, mod_readaloud{{/str}}</h5>
</div>
<div class="mod_readaloud_center">
    {{#str}}chartexplainer, mod_readaloud{{/str}}
</div>
<div class="mod_readaloud_center mod_readaloud_progresschart">
    {{{attemptschart}}}
</div>