<section class="mod_readaloud_progresschart mb-5">
    <h6 class="mb-0 fw-semibold">{{#str}}progresschart, mod_readaloud{{/str}}</h6>
    <p>{{#str}}chartexplainer, mod_readaloud{{/str}}</p>
    <div class="mod_readaloud_progresschart">
        {{{attemptschart}}}
    </div>
</section>
