<section class="mod_readaloud_studentreportpassage_cont mb-5">
    <h6 class="mb-0 mt-5 fw-semibold">{{#str}}passage, mod_readaloud{{/str}}</h6>
    <div class="mod_readaloud_studentreportpassage">
        {{{thepassage}}}
    </div>
</section>