
    <div class="mod_readaloud_toggle_differences" id="{{uniqid}}_differencetoggle">
        <a href="#" class="mstfd_showall" id="{{uniqid}}_mstfd_showall" style="display: none">{{#str}}showcorrections, mod_readaloud{{/str}}</a>
        <a href="#" class="mstfd_hidecrossouts" id="{{uniqid}}_mstfd_hidecrossouts">{{#str}}hidecorrections, mod_readaloud{{/str}}</a>
    </div>

{{#js}}
            require(['jquery','core/log'], function($, log) {
                  $("#{{uniqid}}_differencetoggle").on('click',function(e){
                      log.debug('clicked');
                      e.preventDefault();
                      $("#{{uniqid}}_mstfd_showall").toggle();
                      $("#{{uniqid}}_mstfd_hidecrossouts").toggle();
                      var crossoutshidden = $("#{{uniqid}}_mstfd_hidecrossouts").css('display') === 'none';

                      if (crossoutshidden) {
                          // Hide text within <del> tags , highlight inserted text
                          $('.mlfsr_correctedtext .mod_readaloud_mu_original_preword').hide();
                          $('.mlfsr_correctedtext .mod_readaloud_mu_original_postword').hide();
                      } else {
                          $('.mlfsr_correctedtext .mod_readaloud_mu_original_preword').show();
                          $('.mlfsr_correctedtext .mod_readaloud_mu_original_postword').show();
                      }
                  });
            });
{{/js}}