<div id="{{uniqid}}" class="mod_readaloud_textgenerator">
    <!-- If API user then show a link + js to poke creds in -->
    <a href="#" class="mra_tg_togglebutton">{{#str}}textgeneratorshow, mod_readaloud{{/str}}</a>
        <div class="mra_tg_maincontainer" style="display: none">
            <a href="#" class="mra_tg_togglebutton" style="display: none">{{#str}}textgeneratorhide, mod_readaloud{{/str}}</a>
            <div class="mra_tg_heading">{{#str}}generate-text, mod_readaloud{{/str}}</div><br/>
            <div class="mra_tg_instructions">{{#str}}textgenerator_instructions, mod_readaloud{{/str}}</div><br/>
            <input type="text" class="mra_tg_promptbox" placeholder="{{#str}}article-topic-here, mod_readaloud{{/str}}"></input>
            <div class="mra_tg_message" style="text-align: center"></div>
            <div class="mra_tg_gobuttoncontainer">
                <button id="mra_tg_gobutton" type="button" class="btn btn-primary mra_tg_gobutton">{{#str}}generate-text, mod_readaloud{{/str}}</button>
            </div>
        </div>


</div>
{{^element.frozen}}
    {{#js}}
    //<script>
        require(['jquery','core/notification','mod_readaloud/textutils'],function($,notification,textutils) {
            var maincontainer = $(".mod_readaloud_textgenerator .mra_tg_maincontainer");
            var togglebuttons = $(".mod_readaloud_textgenerator .mra_tg_togglebutton");
            var promptbox = $(".mod_readaloud_textgenerator .mra_tg_promptbox");
            var passagebox = $("#id_passage");
            var messagearea = $(".mod_readaloud_textgenerator .mra_tg_message");
            var gobutton = $(".mod_readaloud_textgenerator #mra_tg_gobutton");
            var passagelanguage= $("#id_ttslanguage");

            textutils.setCloudPoodllToken('{{cloudpoodlltoken}}');

            togglebuttons.on("click", function() {
                event.preventDefault();
                //toggle the container
                maincontainer.toggle();
                //also toggle the buttons
                togglebuttons.toggle();
            });

            gobutton.on('click',function(){
                var currentText = passagebox.val().trim();
                var fetchPassageFunc = function() {
                    //show a spinner
                    messagearea.html('<i class="fa fa-spinner fa-spin fa-sm"></i>');
                    var theprompt = promptbox.val();
                    //no super long readings or empty ones
                    if (!theprompt || theprompt.trim() === '') {
                        messagearea.text("{{#str}}entersomething, mod_readaloud{{/str}}");
                        return;
                    }
                    if (theprompt.length > 100) {
                        messagearea.text("{{#str}}text-too-long-100, mod_readaloud{{/str}}");
                        return;
                    }
                    var language = 'en-US';
                    textutils.call_ai(theprompt, passagelanguage.val(), '', 'generate_article', function (thearticle) {
                        messagearea.text('');
                        passagebox.val(thearticle);
                    });
                };

                if(currentText !==''){
                    notification.confirm("{{#str}}textgeneratorconfirm, mod_readaloud{{/str}}",
                        "{{#str}}reallyoverwritepassage, mod_readaloud{{/str}}",
                        "{{#str}}overwrite, mod_readaloud{{/str}}",
                        "{{#str}}cancel, mod_readaloud{{/str}}",fetchPassageFunc);
                }else{
                    fetchPassageFunc();
                }
            });

        });
    {{/js}}
{{/element.frozen}}