<div id="ttrec_container_{{uniqueid}}" class="mod_readaloud_ttrec_waveButtonContainer d-flex flex-column align-items-center" tabindex="0">

    <canvas id="{{uniqueid}}_waveform" class="mod_readaloud_ttrec_waveForm"></canvas>

    <button id="{{uniqueid}}_recorderbutton"
         type="button"
         class="mod_readaloud_ttrec_waveButton ttrec_ready control control--recordbutton"
         data-passagehash="{{passagehash}}"
         data-waveheight="{{waveheight}}"
         data-region="{{region}}"
         data-lang="{{language}}"
         data-asrurl="{{{asrurl}}}"
         data-speechtoken="{{speechtoken}}"
         data-speechtokenregion="{{speechtokenregion}}"
         data-speechtokentype="{{speechtokentype}}"
         data-speechtokenvalidseconds="{{speechtokenvalidseconds}}"
         data-forcestreaming="{{forcestreaming}}"
         data-maxtime="{{{maxtime}}}"
         data-savemedia="{{savemedia}}"
         data-savemediaregion="{{savemediaregion}}"
         data-wstoken="{{cloudpoodlltoken}}"
         data-wwwroot="{{wwwroot}}"
         data-appid="{{appid}}"
         data-owner="{{owner}}"
         data-transcode="{{transcode}}"
         data-transcribemedia="{{transcribemedia}}"
         data-expiredays="{{expiredays}}"
         data-mediatype="{{mediatype}}"
         data-cloudpoodllurl="{{cloudpoodllurl}}"
         data-control="{{name}}"
         aria-label="{{label}}"
         aria-pressed="{{pressed}}"
         aria-describedby="recordbutton-desc">
         <span class="ra_recbutton_mic">
         {{> mod_readaloud/mic}}
         </span>
         <span class="ra_recbutton_stop" style="display: none">
         {{> mod_readaloud/stop}}
         </span>
        <span class="ra_recbutton_waiting" style="display: none">
            <i class="fa fa-solid fa-cog fa-spin"></i>
         </span>
        <span class="ra_recbutton_processing" style="display: none">
            <i class="fa fa-spinner fa-spin"></i>
         </span>
    </button>
    <span id="recordbutton-desc" class="control-label p-2">
        {{#str}} taptospeak, mod_readaloud {{/str}}
    </span>
    {{#showtimer}}
    {{! Countdown, driven by the recorder's own timer in ttrecorder.js. Opt in, so recorders that do not
        want a visible countdown (practice, the speaking quiz items) are unaffected. }}
    <div class="mod_readaloud_ttrec_timer w-100">
        {{#hastimelimit}}
        <div class="timerprogress_{{uniqueid}} progress mod_readaloud_ttrec_timerprogress"
             role="progressbar"
             aria-label="{{#str}} timeremaining, mod_readaloud {{/str}}"
             aria-valuemin="0"
             aria-valuenow="0"
             aria-valuemax="{{maxtime}}">
            <div class="progress-bar" style="width: 0%"></div>
        </div>
        {{/hastimelimit}}
        <div class="timerdisplay_{{uniqueid}} mod_readaloud_ttrec_timerdisplay" aria-live="off"></div>
    </div>
    {{/showtimer}}
</div>