<div class="ttsaudio container"  id="{{uniqid}}_ttsaudio">
    <button type='button' id='{{uniqid}}' class="roundmini-audio-player">
        <audio id="{{uniqid}}_ttsaudioplayer" data-text="{{itemttsaudio}}" data-autoplay="{{itemttsautoplay}}"  data-ttsoption="{{itemttsoption}}" data-voice="{{itemttsaudiovoice}}" src="" class="mod_readaloud_itemttsaudio"></audio>
        <i class="fa fa-volume-up" aria-hidden="true"></i>
    </button>
</div>
{{^element.frozen}}
    {{#js}}
        require(['jquery', 'mod_readaloud/ttsaudio'], function($, ttsaudio) {
            ttsaudio.init('{{uniqid}}');
        });
    {{/js}}
{{/element.frozen}}