{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_readaloud/viewusing constants

    The view page for the readaloud module.

    Example context (json):
    {
        showintro: true,
    }
}}
<div class="container-fluid">
    <div class="card" style="user-select: none;">
        <div class="card-header bg-transparent">
            <!--<h3>Title</h3>
            <h4 class="text-muted">Anything here?</h4>
            <p>Anything here?</p>
            <span class="badge badge-pill badge-primary">Tag 1</span>
            <span class="badge badge-pill badge-primary">Tag 2</span>
            <span class="badge badge-pill badge-primary">Tag 3</span>
            <span class="badge badge-pill badge-primary">Tag 4</span>
            <span class="badge badge-pill badge-primary">Tag 5</span>-->
            {{#openclosedates.hasopenclosedates}}
            <div class='mod_readaloud_openclosedates'>
                <div class="activity-dates mb-1">
                {{#openclosedates.opendate}}
                    <div><strong>{{#str}} open, mod_readaloud {{/str}}</strong>
                    {{#userdate}}{{openclosedates.opendate}}, {{#str}}strftimedatetime, core_langconfig {{/str}}{{/userdate}}</div>
                {{/openclosedates.opendate}}

                {{#openclosedates.closedate}}
                    <div><strong>{{#str}} until, mod_readaloud {{/str}}</strong>
                    {{#userdate}}{{openclosedates.closedate}}, {{#str}}strftimedatetime, core_langconfig {{/str}}{{/userdate}}</div>
                {{/openclosedates.closedate}}
                </div>
                <div class="activity-status">
                {{#openclosedates.activitynotopenyet}}
                <div class="alert alert-warning">{{#str}} activityisnotopenyet, mod_readaloud {{/str}}</div>
                {{/openclosedates.activitynotopenyet}}

                {{#openclosedates.activityisclosed}}
                <div class="alert alert-danger">{{#str}} activityisclosed, mod_readaloud {{/str}}</div>
                {{/openclosedates.activityisclosed}}
                </div>
            </div>
            {{/openclosedates.hasopenclosedates}}
        </div>

        {{#showintro}}
            {{{showintro}}}
        {{/showintro}}

        <div class="card-body">

            <div class="row">
                <div id="M_MENUBUTTONS_CONTAINER" class="col-3">

                    {{#welcomemessage}}
                    <div id="{{M_MENUINSTRUCTIONS_CONTAINER}}" class="{{M_MENUINSTRUCTIONS_CONTAINER}}">
                        <div class="{{M_CLASS_CENTER}} {{M_INSTRUCTIONS}} pl-3">
                            {{{welcomemessage}}}
                        </div>
                    </div>
                    {{/welcomemessage}}

                    <ul class="nav nav-pills flex-column mb-2">
                        <li class="nav-item" id="{{M_HOME}}">
                        <a href="javascript:void(0)"  class="nav-link h6" data-mode="shadow">{{#str}} home, mod_readaloud {{/str}}</a></li>
                        {{#enablepreview}}
                        <li class="nav-item" id="{{M_STARTPREVIEW}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="preview">{{#str}} mode_listen, mod_readaloud {{/str}}</a>
                        </li>
                        {{/enablepreview}}
                        {{#enablelandr}}
                        <li class="nav-item {{^hasaudiobreaks}}no-click{{/hasaudiobreaks}}" id="{{M_STARTLANDR}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="landr">{{#str}} mode_practice, mod_readaloud {{/str}}</a>
                            {{^hasaudiobreaks}}
                            <span class="mod_readaloud_menubutton_warning">{{#str}} modelaudiowarning, mod_readaloud {{/str}}</span>
                            {{/hasaudiobreaks}}
                        </li>
                        {{/enablelandr}}
                        {{#enableshadow}}
                        <li class="nav-item {{^canshadowattempt}}no-click{{/canshadowattempt}}" id="{{M_STARTSHADOW}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="shadow">{{#str}} mode_shadow, mod_readaloud {{/str}}</a>
                            {{^canshadowattempt}}
                            <!--<span class="mod_readaloud_menubutton_warning">{{#str}} exceededallattempts, mod_readaloud {{/str}}</span>-->
                            {{/canshadowattempt}}
                        </li>
                        {{/enableshadow}}
                        {{#enablenoshadow}}
                        <li class="nav-item {{^canattempt}}no-click{{/canattempt}}" id="{{M_STARTNOSHADOW}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="startnoshadow">{{#str}} mode_read, mod_readaloud {{/str}}</a>
                            {{^canattempt}}
                            <span class="mod_readaloud_menubutton_warning">{{#str}} exceededallattempts, mod_readaloud {{/str}}</span>
                            {{/canattempt}}
                        </li>
                        {{/enablenoshadow}}
                        {{#enablequiz}}
                        <li class="nav-item {{#noquiz}}no-click{{/noquiz}}" id="{{M_STARTQUIZ}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="quiz">{{#str}} mode_quiz, mod_readaloud {{/str}}</a>
                            {{#quizcompleted}}
                            <span class="mod_readaloud_menubutton_warning">{{#str}} quizcompletedwarning, mod_readaloud {{/str}}</span>
                            {{/quizcompleted}}
                        </li>
                        {{/enablequiz}}

                        <li class="nav-item" id="{{M_STARTREPORT}}">
                            <a href="javascript:void(0)"  class="nav-link h6" data-mode="fullreport">Report</a>
                        </li>
                    </ul>
                </div>

                <div class="col-9">
                    <div id="{{M_MODE_IMAGE_CONTAINER}}" class="mode-chooser"></div>

                    <!--{{#previewinstructions}}-->
                    <div id="{{M_PREVIEWINSTRUCTIONS_CONTAINER}}" class="{{M_PREVIEWINSTRUCTIONS_CONTAINER}}">
                        <div class="box">
                            <div class="{{M_CLASS}}_center {{M_PREVIEWINSTRUCTIONS}}">
                                {{#str}} previewhelp, mod_readaloud {{/str}}
                            </div>
                        </div>
                    </div>
                    <!--{{/previewinstructions}}-->
                    <!--{{#landrinstructions}}-->
                    <div id="{{M_LANDRINSTRUCTIONS_CONTAINER}}" class="{{M_LANDRINSTRUCTIONS_CONTAINER}}">
                        <div class="box">
                            <div class="{{M_CLASS}}_center {{M_LANDRINSTRUCTIONS}}">
                                {{#str}} landrhelp, mod_readaloud {{/str}}
                            </div>
                        </div>
                    </div>
                    <!--{{/landrinstructions}}-->
                    {{#instructions}}
                    <div id="{{M_ACTIVITYINSTRUCTIONS_CONTAINER}}" class="{{M_ACTIVITYINSTRUCTIONS_CONTAINER}}">
                        <div class="box py-3 generalbox">
                            <div class="{{M_CLASS}}_center {{M_INSTRUCTIONS}}">
                                {{{instructions}}}
                            </div>
                        </div>
                    </div>
                    {{/instructions}}

                    {{#feedback}}
                    <div id="{{M_FEEDBACK_CONTAINER}}" class="{{M_FEEDBACK_CONTAINER}}">
                        <div class="box">
                            <div class="{{M_CLASS}}_center">
                                {{{feedback}}}
                            </div>
                        </div>
                    </div>
                    {{/feedback}}

                    {{#error}}
                    <div id="{{M_ERROR_CONTAINER}}" class="{{M_ERROR_CONTAINER}}">
                        <div class="box">
                            <h3 class="main">{{#str}} errorheader, mod_readaloud {{/str}}</h3>
                            <div>{{#str}} uploadconverterror, mod_readaloud {{/str}}</div>
                        </div>
                    </div>
                    {{/error}}

                    {{#stopandplay}}
                    <div id="{{M_STOPANDPLAY}}">
                        <button id="{{M_PLAY_BTN}}" style="margin:10px;width:40%;float:left;" class="btn btn-secondary">
                            <i class="fa fa-play"></i> {{#str}} playbutton, mod_readaloud {{/str}}
                        </button>
                        <button id="{{M_STOP_BTN}}" style="margin:10px;width:40%;float:right;" class="btn btn-secondary">
                            <i class="fa fa-stop"></i> {{#str}} stopbutton, mod_readaloud {{/str}}
                        </button>
                    </div>
                    {{/stopandplay}}

                    {{#modequiz}}
                    <div id='{{M_QUIZ_CONTAINER}}' class="{{M_QUIZ_CONTAINER}}">
                        {{{quizhtml}}}
                    </div>
                    <div id="mod_readaloud_quizamd">
                        {{{quizamddata}}}
                    </div>
                    {{/modequiz}}
                    {{^modequiz}}
                    <!-- The passage container -->
                    <div id='mod_readaloud_readingcontainer' class="mod_readaloud_readingcontainer">
                        {{{passagehtml}}}
                    </div>
                     <!-- Hidden input for update control -->
                    <input id="{{M_UPDATE_CONTROL}}" type="hidden">

                    <!-- Hidden input storing JSON configuration -->
                    <input id="amdopts_{{activityamddata.widgetid}}" type="hidden" value="{{activityamddata.jsonstring}}">
                    {{/modequiz}}

                    {{#recorder}}
                    <div class="{{M_RECORDING_CONTAINER}}">
                        <div id="{{M_RECORDER_CONTAINER}}" class="{{M_RECORDER_CONTAINER}} {{M_CLASS_CENTER}}">
                            <div id="{{M_RECORDERID}}" class="{{M_CLASS_CENTER}}"
                                data-id="{{M_RECORDERID}}"
                                data-parent="{{wwwroot}}"
                                data-localloading="auto"
                                data-localloader="/mod/readaloud/poodllloader.html"
                                data-media="audio"
                                data-appid="{{M_COMPONENT}}"
                                data-owner="{{owner}}"
                                data-type="{{recorder_type}}"
                                data-width="{{recorder_width}}"
                                data-height="{{recorder_height}}"
                                data-updatecontrol="{{M_UPDATE_CONTROL}}"
                                data-timelimit="{{timelimit}}"
                                data-transcode="1"
                                data-transcribe="{{transcribe}}"
                                data-language="{{language}}"
                                data-expiredays="{{expiredays}}"
                                data-region="{{region}}"
                                data-fallback="warning"
                                data-speechevents="{{speechevents}}"
                                data-hints="{{hints}}"
                                data-token="{{token}}"
                                data-transcribevocab="{{transcribevocab}}">
                            </div>
                        </div>
                    </div>
                    {{/recorder}}

                    {{#progress}}
                    <div id="{{M_HIDER}}" class="{{M_HIDER}}"></div>
                    <div id="{{M_PROGRESS_CONTAINER}}" class="{{M_PROGRESS_CONTAINER}}">
                        <h4>{{#str}} processing, mod_readaloud {{/str}}</h4>
                        <i class="fa fa-spinner fa-5x fa-spin"></i>
                    </div>
                    {{/progress}}

                    {{#wheretonext}}
                    <div class="{{M_WHERETONEXT_CONTAINER}} text-center">
                        {{#backtotop}}
                        <a class="{{M_CLASS}}_center btn btn-secondary {{M_BACKTOTOP}}"
                        id="{{M_BACKTOTOP}}"
                        href="{{backtotop_url}}">
                            {{#str}} backtotop, mod_readaloud {{/str}}
                        </a>
                        {{/backtotop}}

                        {{#nextactivity}}
                        <a class="{{M_CLASS}}_center btn btn-primary {{M_NEXTACTIVITY}}"
                        href="{{nextactivity_url}}">
                            {{nextactivity_label}}
                        </a>
                        {{/nextactivity}}
                    </div>
                    {{/wheretonext}}

                    {{#landr}}
                        {{>mod_readaloud/modalcontainer}}
                    {{/landr}}

                    {{#smallreport}}
                    <div id="{{M_SMALLREPORT_CONTAINER}}" class="{{M_SMALLREPORT_CONTAINER}}">
                        {{>mod_readaloud/smallreport}}
                    </div>
                    {{/smallreport}}

                    <button class="{{M_CLASS_CENTER}} btn btn-block btn-secondary {{M_RETURNMENU}}"
                        type="button"
                        id="{{M_RETURNMENU}}"
                        data-embed="{{embed}}">
                        <i class="fa fa-arrow-left"></i> {{#str}} returnmenu, mod_readaloud {{/str}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

// TODO: Remove the report from the quiz page.
// TODO: Add the homescreen.
// TODO: Get the templates into partials.
// TODO: Tidy up the code!

