<div id="{{M_COMPONENT}}" class="container-fluid header-maxwidth">
    {{#hasheadercontent}}
        {{#headercontent}}
            {{> mod_readaloud/activity_header }}
        {{/headercontent}}
    {{/hasheadercontent}}
    {{#hasbody}}
        {{> mod_readaloud/activity_body }}
    {{/hasbody}}
</div>
