<div id="{{M_COMPONENT}}" class="container-fluid header-maxwidth">
    {{#headercontent}}
        {{> mod_readaloud/activity_header }}
    {{/headercontent}}
    {{#hasbody}}
        {{> mod_readaloud/activity_body }}
    {{/hasbody}}
</div>
