<div class='mod_readaloud_readreport_stars'>
    {{> mod_readaloud/readreportstars}}
</div>

<div class="mod_readaloud_readreport_cards">
   {{#showstats}}{{> mod_readaloud/readreportcards}}{{/showstats}}
</div>

